span.mircle {
	background: url(resource://mircle/injection/iconReader.png) no-repeat 0 0;
	width: 32px;
	height: 16px;
	display: inline-block;
	text-indent: -9999px;
}

span.mircle:hover {
	background-position: -32px 0;
}

span.mircle:active {
	background-position: -64px 0;
}

span.mircle.visited {
	background-position: -96px 0;
}
